<div>
	<h1>{{title}}</h1>
	<div class="row">
		<div class="col-lg-3 well">
			<h3>Data response</h3>
			<div ng-if="status === 200">
				<p>Recieve status: <strong class="text-success">{{status}} OK</strong></p>
			</div>
			<div ng-if="status !== 200">
				<p>Recieve status: <strong class="text-danger">{{status}}</strong></p>
			</div>
			<div ng-if="hasLoadedData === true">
				<p>Loaded: <strong class="text-success">{{hasLoadedData}}</strong></p>
			</div>
			<div ng-if="hasLoadedData !== true">
				<p>Loaded: <strong class="text-danger">{{hasLoadedData}}</strong></p>
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-4 well">
			<h3>Strongest earthquke in last 30 days</h3>
			<p>Location: <strong>{{maxMagnitudeEearthquake.properties.place}}</strong></p>
			<p>Date: <strong>{{maxMagnitudeEearthquake.properties.time | date:'dd/MM/yyyy HH:mm:ss'}}</strong></p>
			<p>Magnitude: <strong>{{maxMagnitudeEearthquake.properties.mag}}</strong></p>
			<p><a href="{{maxMagnitudeEearthquake.properties.url}}" target="_blank">See details</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<p><strong># of earthquakes with magnitude >6: </strong> {{eqArray.length}}</p>
			<hr>
			<div ng-repeat="eq in eqArray">
				<div class="well">
					<p><strong>Location:</strong> {{eq.properties.place}}</p>
					<p><strong>Magnitude:</strong> {{eq.properties.mag}}</p>
					<p ng-if="eq.properties.tsunami > 0"><strong>Tsunami:</strong> Plausible</p>
					<p ng-if="eq.properties.tsunami === 0"><strong>Tsunami:</strong> No threat</p>
					<p><a href="{{eq.properties.url}}" target="_blank">See details</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<p><strong># of earthquakes with possible tsunami: </strong> {{eqWithTsunamiWarningArray.length}}</p>
			<hr>
			<div ng-repeat="ts in eqWithTsunamiWarningArray">
				<div class="well">
					<p><strong>Location:</strong> {{ts.properties.place}}</p>
					<p><strong>Magnitude:</strong> {{ts.properties.mag}}</p>
					<p><a href="{{ts.properties.url}}" target="_blank">See details</a></p>
				</div>
			</div>
		</div>
	</div>
</div>