<div>
	<button class="btn btn-primary" ng-click="goBack()"> Back</button>

	<hr>

	<div class="divider"></div>

	<google-map mapData="null" earthquakeData="null" zoom="7" lat="{{lat}}" lng="{{lng}}" cities="nearbyCitiesData" style="width:100%;height:500px;" ng-if="hasLoadedData"></google-map>

	<div class="row">
		<h3>Information about the earthquake</h3>
		<div class="col-xs-6">
			<p>Location: {{place}}</p>
			<p>Magnitude: {{magnitude}}</p>
			<p>Depth: {{depth}}km</p>
			<div ng-if="tsunamiChance === 0">
				<p>Chance of a tsunami: <strong class="text-success">No threat</strong></p>
			</div>
			<div ng-if="tsunamiChance !== 0">
				<p>Chance of a tsunami: <strong class="text-danger">Plausible</strong></p>
			</div>
		</div>
		<div class="col-xs-6">
			<p>Time recorded: {{time | date:'dd/MM/yyyy HH:mm:ss Z'}}</p>
			<p>Last Update: {{ updateTime | date:'dd/MM/yyyy HH:mm:ss Z'}}</p>
		</div>
	</div>
	<div class="row">
	<h3>Information about the area</h3>
		<div class="col-xs-2">			
			<p>Country: <span ng-if="country">{{country}}</span></p>
			<p>State: <span ng-if="region">{{region}}</span></p>
		</div>
		<div ng-if="tectonicSummary !== undefined" class="col-xs-10">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">Show details</button>
			<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
			      	<p ng-bind-html="tectonicSummary"></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			<!--<p>Show details about the area: <input type="checkbox" ng-model="checked" aria-label="Toggle details"></p>
			<blockquote ng-show="checked" ng-bind-html="tectonicSummary"></blockquote>-->
		</div>
	</div>
	<div class="row">
		<h3>Nearby cities affected by the earthquake</h3>
		<div ng-if="!nearbyCitiesData">No data</div>
		<div ng-repeat="city in nearbyCitiesData">
			<div class="col-xs-2">
				<p>Name: {{city.name}}</p>
				<p ng-if="city.population !== 1">Population: {{city.population}}</p>
				<p ng-if="city.population === 1">Population: unknown</p>
				<p>Distance from ground zero: {{city.distance}}km</p>
			</div>
		</div>
	</div>
	



	

	<!--<p>{{resultData | json}}</p>-->
</div>